.overlay-text {
    display: flex;
    flex-direction: column; /* Stack title and subtitle vertically */
    justify-content: center;
    align-items: center;
    height: auto;            /* Full viewport height */
    text-align: center;
    width: 100%;
}
.image-container {
    position: relative;
    width: 100%; 
    max-width: auto; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px 0 10px 0;
  }
  
  .background-image {
    width: 245px; 
    height: 100px; 
  }
  
  
  .title {
    position: relative;
    font-size: 1rem;        /* Subtitle size */
    color: #000000;              /* Subtitle color */
    text-shadow: 1px 1px 3px rgba(5, 2, 2, 0.3); /* Shadow for subtitle */
  }
  

  
  /*css paragraph*/
  .content {
    display: flex;                    /* Enable flexbox on the container */
    justify-content: space-between;   /* Evenly space the blocks */
    gap: 20px;                        /* Optional: Adds space between the blocks */
    padding: 20px;                    /* Optional: Adds padding around the container */
}

.content-block {
    flex: 1;                          
    max-width: 30%;                   
    background-color: #f9f9f9;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.content-image img {
    width: 100%;                      /* Ensure images take up the full width of the container */
    height: 300px;                     /* Maintain the aspect ratio of the image */
}

.content-paragraph {
    margin-top: 5px;                 /* Space between image and paragraph */
}

.content p {
    font-size: 24px;
    font-weight: bold;                  /* Adjust font size for the paragraph */
    color: #ffffff;                      /* Set text color */
}

.content-bottom{
    width: 100%;
    height: auto;
    text-align: center;
}
.c1{
    background-color: black;
}
.c2{
    background-color: red;
}
.c3{
    background-color: blue;
}